/* Could be used to resize website past default browser CSS settings*/
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */

#title {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/home/eriklutsch/Documents/Front_End/Dasmoto's Arts & Crafts/Images/dasmotos-arts_1.webp");
}

.divisor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.blue_it {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}



